* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.slider_container {
    max-width: 80vw;
    margin: 20px auto;
    max-height: 81vh;
    position: relative;
}

.slider{
    max-width: 80vw;
    max-height: 80vh;
    border:  2px solid black;
    margin: 20px auto;
    overflow: hidden;

}

.slider-line {
    display: flex;
    background: red;
    transition: all ease 1s;
    max-height: 80vh;
}

.slide{
    margin: auto 0;
    max-height: 80vh;
}

img {
 width: 80vh;
 max-height: 80vh;
}


.slider-button {
    position: absolute;
    top: 36vh;
    height: 9vh;
    width: 9vh;
    background:none;
    opacity: 0.5;
    border: none;
    background-size: cover;
}

.slider_prev{
    left: 0;
    background-image: url('/images/arrow.svg');
}
.slider_next {
    right: 0;
    background-image: url('/images/arrow-2.svg');
}

